asgiref==3.7.2
django==4.2.6
django-crispy-forms==1.14.0
django-tables2==2.4.1
packaging==22.0
Pillow==9.2.0
psycopg2-binary==2.9.3
pygame==2.0.0.dev6
pyparsing==3.0.9
python-dateutil==2.8.2
sqlparse==0.4.4
termcolor==1.1.0
threadpoolctl==3.0.0
typing-extensions==4.8.0
tzdata==2023.3
